[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
datetime = "*"
asyncpg = "*"
numpy = "*"
matplotlib = "*"
humanize = "*"
coloredlogs = "*"

[dev-packages]
flake8 = "~=3.7"
flake8-annotations = "~=2.0"
flake8-bugbear = "~=20.1"
flake8-docstrings = "~=1.5"
flake8-import-order = "~=0.18"
flake8-string-format = "~=0.3"
flake8-tidy-imports = "~=4.0"
flake8-todo = "~=0.7"

[requires]
python_version = "3.8"

[scripts]
start = "python3 -m xythrion"
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
