[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
"discord.py" = {extras = ["voice"], version = "~=1.4.1"}
asyncpg = "~=0.21.0"
matplotlib = "~=3.3.2"
humanize = "~=2.6.0"
coloredlogs = "~=14.0"
qrcode = "~=6.1"
Pillow = "~=7.2.0"
tabulate = "~=0.8.7"
sympy = "~=1.6.2"
fuzzywuzzy = "~=0.18.0"
gTTS = "~=2.1.1"

[dev-packages]
flake8 = "~=3.8"
flake8-annotations = "~=2.3"
flake8-bugbear = "~=20.1"
flake8-docstrings = "~=1.5"
flake8-import-order = "~=0.18"
flake8-string-format = "~=0.3"
flake8-tidy-imports = "~=4.1"
flake8-todo = "~=0.7"
pep8-naming = "~=0.11"
pre-commit = "~=2.1"

[requires]
python_version = "3.8"

[scripts]
start = "python -m xythrion"
lint = "python -m flake8"
precommit = "pre-commit install"
